[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rajeev Ramachandran (rajeevpmr)
[access "refs/for/refs/*"]
	read = group user/Rajeev Ramachandran (rajeevpmr)
	push = group user/Rajeev Ramachandran (rajeevpmr)
	label-Code-Review = -2..+2 group user/Rajeev Ramachandran (rajeevpmr)
	label-Verified = -1..+1 group user/Rajeev Ramachandran (rajeevpmr)
	rebase = group user/Rajeev Ramachandran (rajeevpmr)
	removeReviewer = group user/Rajeev Ramachandran (rajeevpmr)
	submit = group user/Rajeev Ramachandran (rajeevpmr)
[access "refs/heads/*"]
	read = group user/Rajeev Ramachandran (rajeevpmr)
	create = group user/Rajeev Ramachandran (rajeevpmr)
	push = +force group user/Rajeev Ramachandran (rajeevpmr)
	pushMerge = group user/Rajeev Ramachandran (rajeevpmr)
[access "refs/tags/*"]
	push = group user/Rajeev Ramachandran (rajeevpmr)
	push = +force group user/Rajeev Ramachandran (rajeevpmr)
